.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

.abouttext {
  height:20%;
}

.appcontent {
  height:100%;
  /* min-height:1000px; */
  
}

.fcredits {
  font-size:xx-small;
}

body html {
  /* background-color: rgba(43, 43, 43, 0); */
  z-index:1rem;
  height: 100%;
  min-height:1000px;
}
.bg-kick {
  background-color:#fbfbfb!important;
}
.Applogo {
  height: 64px;
}

canvas {
  position:absolute;
}

.homepic {
  text-align:center;
  width:100%;
}


.firstletter {
  font-size:30pt;
  font-weight:bold;
  color:#0071bc;
}

.logoApic {
  width: 400px;
  height:auto;
}

.logoapic {
  width: 100%;
  height:auto;
}

.avatar {
  width:260px;
  height:260px;
  border-radius: 150px;
  box-shadow:0px 5px 2px 2px #00000029;
}

.slogan {
  font-size:30pt;
  font-weight:bold;
  color:#ffffff;
}

.sloganbox {
  margin-left:auto;
  margin-right:auto;
}

.logobox {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-height:300px;
}

.nodepic {
  width:320px;
  height:200px;
  padding:1em;
}

.nodecard {
  border: 4px solid #68a063;
  box-shadow: 0 .125rem .25rem rgb(0, 0, 0);
}

.expresspic {
  width:240px;
  height:90px;
  padding:1em;
}

.expresscard {
  border: 2px solid #f0d91c;
  box-shadow: 0 .44rem .7rem rgba(0, 0, 0);
}

.reactpic {
  width:280px;
  height:140px;
  padding:1em;
}

.reactcard {
  border: 5px solid #61dafb;
  box-shadow: 0 1.125rem 1.25rem rgba(0, 0, 0);
  z-index:1;
}

.mysqlpic {
  width:180px;
  height:120px;
  padding:1em;
}

.mysqlcard {
  border: 3px solid #e59209;
  z-index:0;
  box-shadow: 0 .175rem .45rem rgba(0, 0, 0);
}

.mongopic {
  width:160px;
  height:66px;
  padding:1em;
}

.mongocard {
  border:2px solid #c1bebb;
  z-index:0;
  box-shadow: 0 .175rem .35rem rgba(0, 0, 0);
}

.aboutpic {
  width:100%;
  height:auto;
  padding:.25em;

}

.calipic {
  width:200px;
  height:auto;
}

.colopic {
  width:200px;
  height:auto;
}

.tennpic {
  width:200px;
  height:auto;
}

.aboutbox {
  width:90%;
  
}

.aboutcard {
  border:.5px solid #9797973f;
  z-index:0;
  margin:auto;
  box-shadow: 0 1.44rem 1.7rem rgba(0, 0, 0);
}

.octopimpsmall {
  width:100px;
  height:100px;
  float:right;
  right:0;
}

.picrow {
  width:100%;
}

.ztop {
  z-index:0;
}
.round {
  border-radius:10px;
}

body {
  background-image: url('../src/img/scape.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: fixed;
  bottom: 10px;
  left:0;
  width: 100%;
  line-height: 10px;
  display: inline-block;
  z-index:5;
}

.divider {
  height:20em;
  width:.5em;
  margin-top:-30px;
  margin-left:5px;
}

.divider2 {
  height:10em;
  width:.5em;
  margin-top:-30px;
  margin-left:5px;
}

.phone {
  color:#0071bc;
}

.email {
  color:#af6868;
}

.riverside {
  color:#e6b515;
}

.denver {
  color:#ffffff;
}

.nashville {
  color:#68a063;
}

.navbar {
  z-index:1;
  box-shadow: 0 .125rem .25rem rgb(0, 0, 0)!important;
  background-color:white;
}



.mr-auto1 {
  margin-left: 60%!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  body {
    background-position-y: -20%;
  }

}

@media screen and (max-width: 1100px) {
  .sloganbox {
    margin-left:20%;
  }
}

@media screen and (max-width: 767px) {
  .divider2 {
    display:none;
  }
  .leftcol {
    padding-left:2em;
  }
}


@media screen and (min-width: 701px) {
  body {
    *background-position-y: 0;
  }
}

/*-----------animations-----------*/

.digitalkey {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: digitalkey;
  animation-duration: 1s;
}

@keyframes digitalkey {
  0%   {left:500px; visibility:hidden;}
  100% {left:0px; visibility:visible;}
}

.distkey {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: digitalkey;
  animation-duration: 2s;
}

@keyframes distkey {
  0%   {left:500px; visibility:hidden;}
  100% {left:0px; visibility:visible;}
}

.developkey {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: digitalkey;
  animation-duration: 3s;
}

@keyframes developkey {
  0%   {left:500px; visibility:hidden;}
  100% {left:0px; visibility:visible;}
}

#nodekey {
  animation-name: nodekeyin;
  animation-duration: 2s;
  animation-delay:.5s;
  animation-fill-mode: backwards;
}

@keyframes nodekeyin {
  from { box-shadow: none;
         border: none #68a06367;
         background-color: rgba(43, 43, 43, 0);
         visibility:hidden;     
  }
  to { box-shadow: 0 .14rem .3rem rgba(0, 0, 0);
       border: 3px solid #68a06367;
       background-color: rgb(255, 255, 255);
       visibility:visible;
  }
}

#nodepickey {
  animation-name: nodepickeyin;
  animation-duration: 2.4s;
  animation-delay: .75s;
  animation-fill-mode: backwards;
}

@keyframes nodepickeyin {
  from { 
         visibility:hidden;  
  }
  to { 
       visibility:visible;  
  }
}

#expresskey {
  animation-name: expresskeyin;
  animation-duration: 2s;
  animation-delay:1s;
  animation-fill-mode: backwards;
}

@keyframes expresskeyin {
  from { box-shadow: none;
         border: none #f0d91c;
         background-color: rgba(43, 43, 43, 0);
         visibility:hidden;  
         
  }
  to { box-shadow: 0 .44rem .7rem rgba(0, 0, 0);
       border: 2px solid #f0d91c;
       background-color: rgb(255, 255, 255);
       visibility:visible;  
  }
}

#expresspickey {
  animation-name: expresspickeyin;
  animation-duration: 2.7s;
  animation-delay: 1.25s;
  animation-fill-mode: backwards;
}

@keyframes expresspickeyin {
  from { 
         visibility:hidden;  
  }
  to { 
       visibility:visible;  
  }
}

#reactkey {
  animation-name: reactkeyin;
  animation-duration: 2s;
  animation-delay:1.75s;
  animation-fill-mode: backwards;
}

@keyframes reactkeyin {
  from { box-shadow: none;
         border: none #61dafb67;
         background-color: rgba(43, 43, 43, 0);
         visibility:hidden;
  }
  to { box-shadow: 0 1.125rem 1.25rem rgba(0, 0, 0);
       border: 5px solid #61dafb67;
       background-color: rgb(255, 255, 255);
       visibility:visible;

  }
}

#reactpickey {
  animation-name: reactpickeyin;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes reactpickeyin {
  from { 
         visibility:hidden;  
  }
  to { 
       visibility:visible;  
  }
}

#mysqlkey {
  animation-name: mysqlkeyin;
  animation-duration: 2s;
  animation-delay:2.25s;
  animation-fill-mode: backwards;
  
}

@keyframes mysqlkeyin {
  from { box-shadow: none;
         border: none #e59209;
         background-color: rgba(43, 43, 43, 0);
         visibility:hidden;      
  }
  to { box-shadow: 0 .44rem .7rem rgba(0, 0, 0);
         border: 3px solid #e59209;
         background-color: rgb(255, 255, 255);
         visibility: visible;
  }
}

#mysqlpickey {
  animation-name: mysqlpickeyin;
  animation-duration: 3s;
  animation-delay: 2.5s;
  animation-fill-mode: backwards;
}

@keyframes mysqlpickeyin {
  from { 
         visibility:hidden;  
  }
  to { 
       visibility:visible;  
  }
}

#mongokey {
  animation-name: mongokeyin;
  animation-duration: 2s;
  animation-delay: 2.75s;
  animation-fill-mode: backwards;
}

@keyframes mongokeyin {
  from { box-shadow: none;
         border: none #c1bebb;
         background-color: rgba(43, 43, 43, 0);
         visibility:hidden;  
  }
  to { box-shadow: 0 .175rem .35rem rgba(0, 0, 0);
       border: 2px solid #c1bebb;
       background-color: rgb(255, 255, 255);
       visibility:visible;  
  }
}

#mongopickey {
  animation-name: mongopickeyin;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes mongopickeyin {
  from { 
         visibility:hidden;  
  }
  to { 
       visibility:visible;  
  }
}

#aboutkey {
  animation-name: aboutkeyin;
  animation-duration: 1s;
  z-index:0;
}

@keyframes aboutkeyin {
from { top: -600px;
      z-index: 0;
      box-shadow: 0 .01rem 0.05rem rgba(0, 0, 0, 0.027);
  }
  to { top: 0;
    z-index: 0;
    box-shadow: 0 1.44rem 1.7rem rgba(0, 0, 0);
  }
}

#textkey {
  animation-name: textkeyin;
  animation-duration: .5s;
  animation-delay:1s;
  animation-fill-mode: backwards;
}

@keyframes textkeyin {
from { opacity: 0%;
  }
  to { opacity: 80%;
  }
}

#logoAkey {
  animation-name: logoAkeyin;
  animation-duration: 2s;
  animation-delay: 1s;
  z-index:0;
}

@keyframes logoAkeyin {
from { opacity: 0%;
  }
  to { opacity: 100%;
  }
}

#quotekey {
  animation-name: quotekeyin;
  animation-duration: .5s;
  animation-delay:3s;
  animation-fill-mode: backwards;
}

@keyframes quotekeyin {
from { opacity: 0%;
  }
  to { opacity: 80%;
  }
}