.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

.bg-kick {
  background-color:#fbfbfb!important;
}
.Applogo {
  height: 64px;
  
}

.homepic {
  width:100%;
  height:auto;
}

.firstletter {
  font-size:30pt;
  font-weight:bold;
  color:#0071bc;
}

.slogan {
  font-size:30pt;
  font-weight:bold;
  color:#707070;
}

.sloganbox {
  margin-left:auto;
  margin-right:auto;
}

.logobox {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-height:300px;
}

.nodepic {
  width:320px;
  height:200px;
  padding:1em;
}

.nodecard {
  border: 5px solid #68a063;
}

.expresspic {
  width:240px;
  height:90px;
  padding:1em;
}

.expresscard {
  border: 2px solid #f0d91c;
}

.reactpic {
  width:280px;
  height:140px;
  padding:1em;
}

.reactcard {
  border: 6px solid #61dafb;
}

.mysqlpic {
  width:180px;
  height:120px;
  padding:1em;
}

.mysqlcard {
  border: 3px solid #e59209;
  z-index:-1;
}

.mongopic {
  width:100px;
  height:100px;
  padding:1em;
}

.mongocard {
  border:2px solid #c1bebb;
  z-index:-1;
}

.aboutpic {
  width:100%;
  height:auto;
  padding:1em;

}

.aboutbox {
  width:90%;
}

.aboutcard {
  border:2px solid #e6b515;
  z-index:-1;
}

.round {
  border-radius:10px;
}

body {
  /* background-image: url(''); */
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: fixed;
  bottom: 10px;
  left:0;
  width: 100%;
  line-height: 10px;
  display: inline-block;
}

.divider {
  height:20em;
  width:.5em;
  margin-top:-30px;
}

.phone {
  color:#0071bc;
}

.email {
  color:#af6868;
}

.riverside {
  color:#e6b515;
}

.denver {
  color:#c1bebb;
}

.nashville {
  color:#68a063;
}

.navbar {
  z-index:1;
}

.mr-auto1 {
  margin-left: 60%!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e6e6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  body {
    background-position-y: -20%;
  }

}

@media screen and (max-width: 767px) {
  .divider {
    display:none;
  }
}

@media screen and (min-width: 701px) {
  body {
    *background-position-y: 0;
  }
}